/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <100>;

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 35

// make homerow combos tap-only (so HRMs can be chorded instantaneously)
#define HRC_LPAR   &hmr_lpar_lt      LA(LCTRL) 0
#define HRC_RPAR   &hmr_rpar_gt      LS(LCTRL) 0
#define HRC_LBRA   &hmr_lbrac_lbrak  LA(LCTRL) 0
#define HRC_RBRA   &hmr_rbrac_rbrak  RS(LCTRL) 0

/* Horizontal combos - left hand */
ZMK_COMBO(at,    &at_minus,     LT3 LT2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(equal, &kp EQUAL,     LT2 LT1,     DEF     NUM, COMBO_TERM_FAST)

ZMK_COMBO(lpar,  HRC_LPAR,      LM3 LM2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(rpar,  HRC_RPAR,      LM2 LM1,     DEF     NUM, COMBO_TERM_FAST)

ZMK_COMBO(amps,  &amps_pipe,    LB3 LB2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(fslh,  &fslash_under, LB2 LB1,     DEF     NUM, COMBO_TERM_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(dllr,  &dollar_caret, RT1 RT2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(grave, &kp GRAVE,     RT2 RT3,     DEF     NUM, COMBO_TERM_FAST)

ZMK_COMBO(lbra,  HRC_LBRA,      RM1 RM2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(rbra,  HRC_RBRA,      RM2 RM3,     DEF     NUM, COMBO_TERM_FAST)

ZMK_COMBO(star,  &star_hash,    RB1 RB2,     DEF     NUM, COMBO_TERM_FAST)
ZMK_COMBO(prctn, &prcnt_bslash, RB2 RB3,     DEF     NUM, COMBO_TERM_FAST)
